@(basket: Form[UpdateBasketForm],users: Seq[User])(implicit request: MessagesRequestHeader,flash:Flash)
@import helper._
@flash.get("success").getOrElse("")
<a href="@routes.BasketController.get_AllBaskets()">Powrót</a>
@form(routes.BasketController.updateBasketHandle){
    @helper.CSRF.formField
    <input name="id" id="id" value="@basket("id").value" type="hidden">
    <div class="margin__"/>
    @inputText(basket("description"),'_label->"Basket desctription")
    <select id="user_id" name="user_id">
    @for(user <- users){
        @if(user.id.toString==basket("user_id").value.getOrElse(0)) {
            <option value="@user.id" selected>@user.login</option>
        }else{
            <option value="@user.id">@user.login</option>
        }
    }
    </select>
    <div class="margin__"/>
    <div class="buttons">
        <input type="submit" value="Update basket"/>
    </div>
}
    <style>
        .margin__{
            margin-top: 1.2rem;
        }
        .inputcss {
            border: 1px solid lightcoral;
            padding: 1rem;
        }
    </style>