@(basket: Form[CreateBasketForm],users: Seq[User])(implicit request :MessagesRequestHeader,flash:Flash)
<a href="@routes.BasketController.getAllBaskets()">Powrót</a>

@import helper._
@flash.get("success").getOrElse("")
@request.flash.get("success").map{ key=>
    @request.messages(key)
}
@form(routes.BasketController.createBasket()){
    @helper.CSRF.formField
    @inputText(basket("description"))
    <select id="userId" name="userId">
        @for(user <- users){
            @if(user.id.toString==basket("userId").value.getOrElse(0)) {
                <option value="@user.id" selected>@user.login</option>
            }else{
                <option value="@user.id">@user.login</option>
            }
        }
    </select>
    <div class="buttons">
        <input type="submit" value="Add basket"/>
    </div>
}