@(categories: Seq[Category])
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">

@for(category <- categories){
    <div class="oneall">
        <div class="forbaskets">
            <div>
                @category.name
            </div>
            <div>
                @category.description
            </div>
        </div>
        <div class="buttons">
            <a class="first" href="@controllers.routes.CategoryController.updateCategory(category.id)">Edytuj</a>
            <a class="second" href="@controllers.routes.CategoryController.deleteCategory(category.id)">Usuń</a>
        </div>
    </div>
}
    <div class="onebutton">
        <a class="add" href="@controllers.routes.CategoryController.createCategories()">Dodaj kategorie</a>
    </div>