@(comments: Seq[Comment])
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">

@for(comment <- comments){
    <div class="oneall">
        <div class="forbaskets">
            <div>
            @comment.title
            </div>
            <div>
            @comment.content
            </div>
        </div>
        <div class="buttons">
            <a class="first" href="@controllers.routes.CommentController.updateComment(comment.id)">Edytuj</a>
            <a class="second" href="@controllers.routes.CommentController.deleteComment(comment.id)">Usuń</a>
        </div>
    </div>
}
<div class="onebutton">
    <a class="add" href="@controllers.routes.CommentController.createComment()">Dodaj komentarz</a>
</div>
