@(delivers: Seq[Delivery])
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">

@for(deliver <- delivers){
    <div class="oneall">
        <div class="forbaskets">
            <div>
            @deliver.name
            </div>
            <div>
            Koszt : @deliver.cost
            </div>
            <div>
            @deliver.description
            </div>
        </div>
        <div class="buttons">
            <a class="first" href="@controllers.routes.DeliveryController.updateDelivery(deliver.id)">Edytuj</a>
            <a class="second" href="@controllers.routes.DeliveryController.deleteDelivery(deliver.id)">Usuń</a>
         </div>
    </div>
}
<div class="onebutton">
    <a class="add" href="@controllers.routes.DeliveryController.createDelivery()">Dodaj sposob dostarczenia</a>
</div>
