@(images: Seq[Image])
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">

@for(image <- images){
    <div class="oneall">
        <div class="forbaskets">
            <div>
            @image.url
            </div>
            <div>
            @image.description
            </div>
        </div>
        <div class="buttons">
            <a class="first" href="@controllers.routes.ImageController.updateImage(image.id)">Edytuj</a>
            <a class="second" href="@controllers.routes.ImageController.deleteImage(image.id)">Usuń</a>
        </div>
    </div>
}
<div class="onebutton">
    <a class="add" href="@controllers.routes.ImageController.createImage">Dodaj Obraz</a>
</div>