@(orders: Seq[(Int,String,Int,String,String,String,String)])
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">

@for(order <- orders){
    <div class="oneall">
        <div class="forbaskets">
            <div>
            Data zamowienia: @order._2
            </div>
            <div>
            Koszt: @order._3
            </div>
            <div>
            Sposob dostawy: @order._4
            </div>
            <div>
            Sposob platnosci: @order._5
            </div>
            <div>
                Miasto: @order._6
            </div>
            <div>
                Ulica: @order._7
            </div>

        </div>
        <div class="buttons">
            <a class="first" href="@controllers.routes.OrderController.updateOrder(order._1)">Edytuj</a>
            <a class="second" href="@controllers.routes.OrderController.deleteOrder(order._1)">Usuń</a>
        </div>
    </div>
}
<div class="onebutton">
    <a class="add" href="@controllers.routes.OrderController.createOrder()">Dodaj zamownienie</a>
</div>