@(orders: Seq[(Int,String,Int,String,String,String)])

@for(order <- orders){
    <div class="oneall">
        <div class="forbaskets">
            <div>
            Data zamowienia: @order._2
            </div>
            <div>
            Koszt: @order._3
            </div>
            <div>
            Sposob dostawy: @order._4
            </div>
            <div>
            Sposob platnosci: @order._5
            </div>
            <div>
            Uzytkownik: @order._6
            </div>
        </div>
        <div class="buttons">
            <a class="first" href="@controllers.routes.OrderController.updateOrder(order._1)">Edytuj</a>
            <a class="second" href="@controllers.routes.OrderController.deleteOrder(order._1)">Usuń</a>
        </div>
    </div>
}
<div class="onebutton">
    <a class="add" href="@controllers.routes.OrderController.createOrder()">Dodaj zamownienie</a>
</div>
<style>
        .oneall{
            margin-top: 3rem;
        }
        .onebutton{
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: center;
        }
        .add{
            color: black;
            text-decoration: none;
            background-color: lightgreen;
            border: 1px solid red;
            padding: .5rem;
            margin-top: 2rem;
            margin-left: auto;
            margin-right: auto;
        }
        .forbaskets{
            background-color: whitesmoke;
            border: 2px solid lightcoral;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            padding: .5rem;

        }
        .buttons{
            width: 50%;
            display: flex;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 1rem;
        }
        .buttons > a{
            color: black;
            text-decoration: none;
            background-color: lightblue;
            border: 1px solid red;
            padding: .5rem;
        }
        .second{
            margin-left: .4rem;
        }
</style>