@(payments: Seq[Payment])

@for(payment <- payments){
    <div class="oneall">
        <div class="forbaskets">
            <div>
            @payment.name
            </div>
            <div>
            @payment.description
            </div>
        </div>
        <div class="buttons">
            <a class="first" href="@controllers.routes.PaymentMethodsController.updatePaymentMethod(payment.id)">Edytuj</a>
            <a class="second" href="@controllers.routes.PaymentMethodsController.deletePaymentMethod(payment.id)">Usuń</a>
        </div>
    </div>
}
<div class="onebutton">
    <a class="add" href="@controllers.routes.PaymentMethodsController.createPaymentMethod()">Dodaj forme platnosci</a>
</div>
