@(product: Form[UpdateProductForm],subcategories: Seq[SubCategory],categories:Seq[Category])(implicit request: MessagesRequestHeader,flash:Flash)
@import helper._
@flash.get("success").getOrElse("")
<a href="@routes.ProductController.getProducts()">Powrót</a>
@form(routes.ProductController.updateProductHandle){
    @helper.CSRF.formField
    <input name="id" id="id" value="@product("id").value" type="hidden">
    <div class="margin__"/>
    @inputText(product("name"),'_label->"product name")
    <div class="margin__"/>
    @inputText(product("cost"),'_label->"product cost")
    <div class="margin__"/>
    @inputText(product("count"),'_label->"product count")
    <div class="margin__"/>
    @inputText(product("producer"),'_label->"product producer")

    <select name="categoryId" id="categoryId">
    @for(cat <- categories){
        @if(cat.id.toString==product("categoryId").value.getOrElse(0)) {
            <option value="@cat.id" selected>@cat.name</option>
        }else{
            <option value="@cat.id">@cat.name</option>
        }

    }
    </select>

    <select name="subcategoryId" id="subcategoryId">
    @for(subcat <- subcategories){
        @if(subcat.id.toString==product("subcategoryId").value.getOrElse(0)) {
            <option value="@subcat.id" selected>@subcat.name</option>
        }else{
            <option value="@subcat.id">@subcat.name</option>
        }

    }
    </select>
    <div class="buttons">
        <input type="submit" value="Update product"/>
    </div>
}
<style>
        .margin__{
            margin-top: 1.2rem;
        }
        .inputcss {
            border: 1px solid lightcoral;
            padding: 1rem;
        }
</style>