@(products: Seq[Product])
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">

@for(product <- products){
    <div class="oneall">
        <div class="forbaskets">
            <div>
            @product.name
            </div>
            <div>
            @product.cost
            </div>
            <div>
            @product.count
            </div>
            <div>
            @product.producer
            </div>
        </div>
        <div class="buttons">
            <a class="first" href="@controllers.routes.ProductController.updateProduct(product.id)">Edytuj</a>
            <a class="second" href="@controllers.routes.ProductController.deleteProduct(product.id)">Usuń</a>
            <a class="third" href="@controllers.routes.ProductController.addProductToBasket(product.id)"> Dodaj produkt do koszyka</a>
        </div>
    </div>
}
<div class="onebutton">
    <a class="add" href="@controllers.routes.ProductController.createProduct()">Dodaj produkt</a>
</div>
