@(subcategory: Form[UpdateSubCategoryForm],category: Seq[Category])(implicit request: MessagesRequestHeader,flash:Flash)
@import helper._
@flash.get("success").getOrElse("")
<a href="@routes.SubCategoryController.getSubCategories()">Powrót</a>
@form(routes.SubCategoryController.updateSubCategoryHandle()){
    @helper.CSRF.formField
    <input name="id" id="id" value="@subcategory("id").value" type="hidden">
    <div class="margin__"/>
    @inputText(subcategory("name"),'_label->"SubCategory desctription")
    <div class="margin__"/>
    @inputText(subcategory("description"),'_label->"SubCategory desctription")
    <select name="categoryId" id="categoryId">
    @for(cat <- category){
        @if(cat.id.toString==subcategory("categoryId").value.getOrElse(0)) {
            <option value="@cat.id" selected>@cat.name</option>
        }else{
            <option value="@cat.id">@cat.name</option>
        }

    }
    </select>
    <div class="buttons">
        <input type="submit" value="Update subcategory"/>
    </div>
}
<style>
        .margin__{
            margin-top: 1.2rem;
        }
        .inputcss {
            border: 1px solid lightcoral;
            padding: 1rem;
        }
</style>