@(subcategory: Form[CreateSubCategoryForm],category: Seq[Category])(implicit request :MessagesRequestHeader,flash:Flash)
<a href="@routes.SubCategoryController.getSubCategories()">Powrót</a>
@import helper._
@flash.get("success").getOrElse("")
@request.flash.get("success").map{ key=>
    @request.messages(key)
}
@form(routes.SubCategoryController.addSubCategoryHandle){
    @helper.CSRF.formField
    @inputText(subcategory("name"))
    @inputText(subcategory("description"))
    <select name="categoryId" id="categoryId">
    @for(cat <- category){
        <option value="@cat.id">@cat.name</option>
    }
    </select>
    <div class="buttons">
        <input type="submit" value="Add subcategory"/>
    </div>
}