@(subcategories: Seq[SubCategory])
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
@for(subcategory <- subcategories){
    <div class="oneall">
        <div class="forbaskets">
            <div>
            @subcategory.name
            </div>
            <div>
            @subcategory.description
            </div>
        </div>
        <div class="buttons">
            <a class="first" href="@controllers.routes.SubCategoryController.updateSubCategory(subcategory.id)">Edytuj</a>
            <a class="second" href="@controllers.routes.SubCategoryController.deleteSubCategory(subcategory.id)">Usuń</a>
        </div>
    </div>
}
<div class="onebutton">
    <a class="add" href="@controllers.routes.SubCategoryController.addSubCategory">Dodaj subkategorie</a>
</div>