@(user: Form[CreateUserForm])(implicit request :MessagesRequestHeader,flash:Flash)
<a href="@routes.UserController.getUsers()">Powrót</a>
@import helper._
@flash.get("success").getOrElse("")
@request.flash.get("success").map{ key=>
    @request.messages(key)
}
@form(routes.UserController.createUser()){
    @helper.CSRF.formField
    @inputText(user("login"))
    @inputText(user("email"))
    @inputText(user("password"))
    <div class="buttons">
        <input type="submit" value="Add user"/>
    </div>
}