@(users: Seq[User])

@for(user <- users){
    <div class="oneall">
        <div class="forbaskets">
            <div>
            @user.login
            </div>
            <div>
            @user.email
            </div>
        </div>
        <div class="buttons">
            <a class="first" href="@controllers.routes.UserController.updateUser(user.id)">Edytuj</a>
            <a class="second" href="@controllers.routes.UserController.deleteUser(user.id)">Usuń</a>
            <a class="second" href="@controllers.routes.UserController.getUsersBasket(user.id)">Pokaż koszyki</a>
        </div>
    </div>
}
<div class="onebutton">
    <a class="add" href="@controllers.routes.UserController.createUser()">Dodaj uzytkownika</a>
</div>
<style>
        .oneall{
            margin-top: 3rem;
        }
        .onebutton{
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: center;
        }
        .add{
            color: black;
            text-decoration: none;
            background-color: lightgreen;
            border: 1px solid red;
            padding: .5rem;
            margin-top: 2rem;
            margin-left: auto;
            margin-right: auto;
        }
        .forbaskets{
            background-color: whitesmoke;
            border: 2px solid lightcoral;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            padding: .5rem;

        }
        .buttons{
            width: 50%;
            display: flex;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 1rem;
        }
        .buttons > a{
            color: black;
            text-decoration: none;
            background-color: lightblue;
            border: 1px solid red;
            padding: .5rem;
        }
        .second{
            margin-left: .4rem;
        }
</style>