@(user: Form[UpdateUserForm])(implicit request: MessagesRequestHeader,flash:Flash)
@import helper._
@flash.get("success").getOrElse("")
<a href="@routes.UserController.getUsers()">Powrót</a>
@form(routes.UserController.updateUserHandle){
    @helper.CSRF.formField
    <input name="id" id="id" value="@user("id").value" type="hidden">
    <div class="margin__"/>
    @inputText(user("login"),'_label->"Login ")
    <div class="margin__"/>
    @inputText(user("email"),'_label->"Email ")
    <div class="margin__"/>
    @inputText(user("password"),'_label->"Password ")
    <div class="buttons">
        <input type="submit" value="Update basket"/>
    </div>
}
<style>
        .margin__{
            margin-top: 1.2rem;
        }
        .inputcss {
            border: 1px solid lightcoral;
            padding: 1rem;
        }
</style>